:root {
  --primary-color: rgb(185, 158, 117);
  --secondary-color: rgb(43, 33, 12);
}

body {
  font-family: "Merriweather", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--secondary-color);
}

/*HEADER*/
header {
  display: flex;
  border-bottom: black;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  border-bottom: 5px solid var(--primary-color);
  font-size: 2rem;
  background-color: rgb(0, 0, 0);
  color: var(--primary-color);
}

.add-button {
  background-color: var(--secondary-color);
  padding: 1rem 3rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/*MAIN*/
#library-container {
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.2rem;
}

.book-container {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.empty-indicator {
  font-size: 5rem;
  color: var(--primary-color);
  opacity: 0.6;
  text-align: center;
  grid-column: 1/-1;
}

/*MODAL*/
#book-adder {
  border: none;
  background-color: rgb(58, 54, 48);
  font-family: "Merriweather", sans-serif;
  border-radius: 10px;
  padding: 1.5rem;
  color: rgb(248, 244, 222);
}

/*FORM*/
.book-details {
  display: grid;
  justify-content: center;
  gap: 2em;
}

.input-fields {
  border: none;
  display: grid;
  gap: 0.8rem;
}

.input-fields div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 7.5rem 1fr;
  align-items: center;
}

.input-fields input[type="text"],
input[type="number"] {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: rgb(94, 89, 77);
  border: none;
  border-radius: 4px;
  color: rgb(248, 244, 222);
  font-size: inherit;
}

.input-fields input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border: 2px solid white;
}

.input-fields input[type="text"]:user-invalid,
input[type="number"]:user-invalid {
  border: 2px solid red;
}

.input-fields input[type="text"]:user-valid,
input[type="number"]:user-valid {
  border: 2px solid green;
}

.submit-book-form {
  background-color: var(--primary-color);
  border: none;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  justify-self: center;
  cursor: pointer;
  color: rgb(248, 244, 222);
  font-weight: 600;
}

.read-status {
  appearance: none;
  border: none;
}

.read-status legend {
  margin-bottom: 0.5rem;
}

.status-container {
  display: flex;
  gap: 1rem;
  align-content: center;
}

.status-container label {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.status-container label,
input[type="radio"] {
  cursor: pointer;
  margin: 0;
  margin-right: 5px;
}

/*FORM -> READ STATUS*/
.book-status {
  background-color: rgb(28, 71, 28);
  border: none;
  font-size: 0.7rem;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  min-width: 5.5rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.book-status::after {
  margin-left: 0.5rem;
  content: "\2713";
}

.book-status.book-unread {
  background-color: rgb(97, 18, 18);
}

.book-status.book-unread::after {
  margin-left: 0.5rem;
  content: "\2715";
}


/*DELETE BUTTON*/
.delete-book {
  background-color: black;
  border: none;
  font-size: 0.7rem;
  padding: 0.6rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  min-width: 5.5rem;
  border-radius: 10px;
}

/*DEFAULT BUTTON BEHAVIOR*/
button {
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}